<%= turbo_stream_from current_company, "notes" %>
<main class="container">
  <div class="header">
    <h1>Notes</h1>
    <%= link_to "New note",
                new_note_path,
                class: "btn btn--primary",
                data: { turbo_frame: "new_note" }
                 %>
  </div>
  <%= turbo_frame_tag "new_note"%>
  <%= turbo_frame_tag "notes" do%>
    <%= render @notes %> <%# renders a partial because @notes is an array%>
  <%end%>
</main>